/controllers/RL_PPO/ppo_training_*
/controllers/my_controllerA4/source
/controllers/my_controllerA5/Policy
/controllers/my_controllerA5/source
/controllers/prototype_4/dqn_training_*
/controllers/prototype_4_2/dqn_training_*
/controllers/prototype_4_epsilon/dqn_training_*
/controllers/RL_PPO/ppo_training_*
/controllers/RL_PPO_VEL/ppo_training_*
/controllers/RL_PPO/data
/controllers/RL_PPO_VEL/data
/controllers/RL_PPO/runs
/controllers/RL_PPO_VEL/runs
/controllers/sep_1/dqn_training_*
/controllers/sep_2/dqn_training_*
/controllers/sep_3/dqn_training_*
/controllers/sep_3_bolzman/dqn_training_*\
/controllers/sep_3_RNN/dqn_training_*

